<!DOCTYPE html>
<html>
<head>
    <!-- include head -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
     <title>Rockfish Console</title>
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://cdno.axisj.com/axicon/axicon.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdno.axisj.com/axisj/ui/kakao/AXJ.min.css" id="axu-theme-axisj" />
    <script type="text/javascript" src="http://cdno.axisj.com/axisj/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdno.axisj.com/axisj/dist/AXJ.min.js"></script>
    <link rel="stylesheet" href="static/ui/cacao-dark/admin.css" id="axu-theme-admin" />
    <link rel="stylesheet" href="static/ui/custom.css" />
    <script type="text/javascript" src="static/resource/jsencrypt.js"></script>
    <script type="text/javascript" src="static/resource/moment.js"></script>
    <script type="text/javascript" src="static/resource/moment-timezone.js"></script>
    <!-- include head -->
    <style>
        .AXprogressLoadedText {
          display:none;   
        }
    </style>
	<script type="text/javascript">
    AXConfig.AXValidator.validateErrMessage.required = "[{label}] is required";

    var myValidator = new AXValidator();
    var myProgress = new AXProgress();  


	var fnObj = {
		pageStart: function(){
            //Session Check
            var url = '/console/sessionCheck'
            var pars = new Object();
             new AXReq(url, {debug:false,type: "post", pars:pars, onsucc:function(res){
                    if(res.rockfish_result_code == "S"){
                         initSearch();
                    }else{
                       AXUtil.alert("Session is invalid or Session is time out.");
                       parent.document.location.href="/index.html";
                    }
                },
                onerr:function(res){
                    toast.push("Session Check Error.");
                }
            });
		},
        pageResize: function(){
            parent.myModal.resize();
        },
        adminValidator: function(){
            var validateResult = myValidator.validate();
            if (!validateResult) {
                var msg = myValidator.getErrorMessage();
                AXUtil.alert(msg);
                myValidator.getErrorElement().focus();
                return false;
            }else{
                return true;
            }
        },
        progress: {
            start: function(){
                mask.open();
                myProgress.start(function(){
                    if(this.isEnd){                        
                        myProgress.close();
                        mask.close();
                    }else{
                        myProgress.update();
                    }   
                }, 
                {
                    totalCount:30,
                    width:100,
                    top:200,
                    title:"Processing ...",
                    theme:"AXCircleProgress"
                });
            }
        }  
	};

    function initSearch(){
        if(parent.idOpenType == "M"){
            var url = '/console/adminInfo'
            var pars = new Object();
                pars.idInfoId = parent.idOpenId;
             new AXReq(url, {debug:false,type: "post", pars:pars, onsucc:function(res){
                    if(res.rockfish_result_code == "S"){
                        if(res.list !=null && res.list !== undefined && res.list.length == 1){
                              var data = res.list[0];
                              $("#ID").val(data.ID);
                              $("#NAME").val(data.NAME);
                              $("#DESC").val(data.DESC);
                              $("#STATUS").val(data.STATUS);
                             
                              $("#ID").attr("disabled" ,true);
                      
                    }else if(res.rockfish_result_code == "X"){
                       AXUtil.alert("Session is invalid or Session is time out.");
                       parent.document.location.href="/index.html";
                    }else{
                       AXUtil.alert(res.rockfish_result_msg);
                    }
                  }
                },
                onerr:function(res){
                    toast.push("Server Error.");
                }
            });
            myValidator.setConfig({
                targetFormName : "adminForm"
            });
        }else{
            $("#pwd").show();
            $("#PASSWORD").addClass("av-required");

            myValidator.setConfig({
                targetFormName : "adminForm"
            });
        }
    }

    function save(){
        if(fnObj.adminValidator()){
            if(AXUtil.confirm("Do you want save ?")){
                 fnObj.progress.start();
                var url = '/console/adminSave'
                var pars = new Object();
                    pars.idInfoId = parent.idOpenId;
                    pars.saveMode = parent.idOpenType;
                    pars.ID = $("#ID").val();
                    pars.NAME = $("#NAME").val();
                    pars.PASSWORD = rockfishRsaEncrypt($("#PASSWORD").val());
                    pars.DESC = $("#DESC").val();
                    pars.STATUS = $("#STATUS option:selected").val();

                 new AXReq(url, {debug:false,type: "post", pars:pars, onsucc:function(res){
                        myProgress.close();
                        mask.close();
                        if(res.rockfish_result_code == "S"){
                            AXUtil.alert("Save success.");
                            parent.fnObj.search.submit();
                            parent.myModal.close();
                        }else if(res.rockfish_result_code == "X"){
                           AXUtil.alert("Session is invalid or Session is time out.");
                           parent.document.location.href="/index.html";
                        }else{
                           AXUtil.alert(res.rockfish_result_msg);
                        }
                    },
                    onerr:function(res){
                        myProgress.close();
                        mask.close();
                        
                        toast.push("Server Error.");
                    }
                });
            }
       }
    }
    axdom(window).ready(fnObj.pageStart);
    axdom(window).resize(fnObj.pageResize);

    // RSA 암호화 공개 키  ■■■ TO-DO set up 한 공개 key 값 으로 치환 필요
    var ROCKFISH_RSA_PUBLIC_KEY_VALUE = '-----BEGIN PUBLIC KEY-----';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA11iUtP4coVGcrLKryIkg';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='Iwt3qS4yR9F963ockxfvwUsjKsEBQdOc6Ef79LWK3qAFiFkM/h+rk19UQYe/iBKr';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='YPggFX+/eRT5Ubkd2Pgfje1L4g2/hJZ53n95e/pGFwjMpGBWvvnE0EoLR8RjX/5S';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='qLVZpFGZEvAnevwua5igi2Mn0y9Sx0z+8tUKaAAM7p7VlbxhdbDra9/nC8fWaHVy';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='PKs0TmxQcolaPMQwdtJTCrSCs8nx/aAxsWhzuc/mXDChBemAhpfBS94/mAdkKdU8';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='746z3axU06umIxJU44jPwGiG4M8HofnTkDfpfKIrat8St/lc9Lp0ulDm82CdR/dd';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='CwIDAQAB';
      ROCKFISH_RSA_PUBLIC_KEY_VALUE+='-----END PUBLIC KEY-----';

    var ROCKFISH_RSA_JSENCRYPT = new JSEncrypt();
        ROCKFISH_RSA_JSENCRYPT.setPublicKey(ROCKFISH_RSA_PUBLIC_KEY_VALUE);

    /**
     * <pre>
     * rsa encrypt
     * </pre>
     * @param toEncrypt : encrypt value
     *
     */
    function rockfishRsaEncrypt(toEncrypt){
      if(toEncrypt === null || toEncrypt === "" || toEncrypt === undefined){
          return "";
      }else{
          return ROCKFISH_RSA_JSENCRYPT.encrypt(toEncrypt);
      }
    }
	</script>
</head>
<body>
<div id="AXPage" class="bodyHeightDiv">
    <div class="ax-modal-header">
        <div class="ax-col-12">
            <div class="ax-unit">
                <h1>Admin Information</h1>
            </div>
        </div>
        <div class="ax-clear"></div>
    </div>
	<div class="ax-modal-body">
        <div class="ax-wrap">
            <div class="ax-layer">
                <div class="ax-col-12">

                    <form name="adminForm" method="post" onsubmit="return false;">
                        <div class="ax-rwd-table">
                            <div class="item-group" style="">
                                <div class="item fullWidth">
                                    <label class="item-lable">
                                        <span class="th" style="min-width:100px;">ID</span>
                                        <span class="td inputText" style="" title="">
                                            <input type="text" id="ID" name="ID" title="" placeholder="" value="" class="AXInput av-required" />
                                        </span>
                                    </label>
                                </div>
                                <div class="item-clear"></div>
                                <div class="group-clear"></div>
                            </div>
                            <div class="item-group" style="">
                                <div class="item fullWidth">
                                    <label class="item-lable">
                                        <span class="th" style="min-width:100px;">NAME</span>
                                        <span class="td inputText" style="" title="">
                                            <input type="text" id="NAME" name="NAME" title="" placeholder="" value="" class="AXInput av-required" />
                                        </span>
                                    </label>
                                </div>
                                <div class="item-clear"></div>
                                <div class="group-clear"></div>
                            </div>
                            <div id="pwd" class="item-group" style="display:none">
                                <div class="item fullWidth">
                                    <label class="item-lable">
                                        <span class="th" style="min-width:100px;">PASSWORD</span>
                                        <span class="td inputText" style="" title="">
                                            <input type="password" id="PASSWORD" name="PASSWORD" title="" placeholder="" value="" class="AXInput" />
                                        </span>
                                    </label>
                                </div>
                                <div class="item-clear"></div>
                                <div class="group-clear"></div>
                            </div>
                            <div class="item-group" style="">
                                <div class="item fullWidth">
                                    <label class="item-lable">
                                        <span class="th" style="min-width:100px;">DESC</span>
                                        <span class="td inputText" style="" title="">
                                            <input type="text" id="DESC" name="DESC" title="" placeholder="" value="" class="AXInput av-required" />
                                        </span>
                                    </label>
                                </div>
                                <div class="item-clear"></div>
                                <div class="group-clear"></div>
                            </div>
                            <div class="item-group" style="">
                                <div class="item fullWidth">
                                    <label class="item-lable">
                                        <span class="th" style="min-width:100px;">STATUS</span>
                                        <span class="td inputText" style="" title="">
                                            <select id="STATUS" name="STATUS" class="AXSelect">
                                                <option value="Y">Y</option>
                                                <option value="N">N</option>
                                            </select>
                                        </span>
                                    </label>
                                </div>
                                <div class="item-clear"></div>
                                <div class="group-clear"></div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="ax-clear"></div>
            </div>
        </div>
    </div>
    <div class="ax-modal-footer">
        <div class="ax-wrap">
            <div class="ax-col-12">
                <div class="ax-unit center">
                    <button type="button" class="AXButton" onclick="save();">Save</button>
                    <button type="button" class="AXButton" onclick="parent.myModal.close();">Close</button>
                </div>
            </div>
            <div class="ax-clear"></div>
        </div>
    </div>
</div>
</body>
</html>
